<div
   class="flex items-center justify-between h-16 bg-white border-b border-gray-200"
>
<h1 class="text-gray-600 pl-4 text-2xl">Welcome to QuickTodo</h1>

<div class="flex items-center space-x-4 mr-4">
  <button (click)="logout()"
    class="bg-slate-300 shadow-sm text-gray-600 border py-2 px-4 rounded-2xl hover:bg-white shadow-md"
  >
    Logout
  </button>
</div>
</div>

<div class="p-4">
<div
  class="mx-auto max-w-screen-lg bg-white shadow-lg rounded-lg overflow-hidden"
>
<span class="text-gray-600 pl-4 text-2xl">Features:</span>

<ul class="space-y-4 text-left pl-4 mt-7 text-gray-500 dark:text-gray-400">
  <li class="flex items-center space-x-3 rtl:space-x-reverse">
       <svg class="flex-shrink-0 w-3.5 h-3.5 text-sky-500 dark:text-sky-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 16 12">
          <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5.917 5.724 10.5 15 1.5"/>
       </svg>
      <span>Edit category by double click on category name</span>
  </li>
  <li class="flex items-center space-x-3 rtl:space-x-reverse">
      <svg class="flex-shrink-0 w-3.5 h-3.5 text-green-500 dark:text-sky-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 16 12">
          <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5.917 5.724 10.5 15 1.5"/>
       </svg>
      <span>Add new todo in category</span>
  </li>
  <li class="flex items-center space-x-3 rtl:space-x-reverse">
      <svg class="flex-shrink-0 w-3.5 h-3.5 text-green-500 dark:text-sky-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 16 12">
          <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5.917 5.724 10.5 15 1.5"/>
       </svg>
      <span>Team size: <span class="font-semibold text-gray-900 dark:text-white">1 developer</span></span>
  </li>
  <li class="flex items-center space-x-3 rtl:space-x-reverse">
      <svg class="flex-shrink-0 w-3.5 h-3.5 text-green-500 dark:text-sky-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 16 12">
          <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5.917 5.724 10.5 15 1.5"/>
       </svg>
      <span>Premium support: <span class="font-semibold text-gray-900 dark:text-white">6 months</span></span>
  </li>
  <li class="flex items-center space-x-3 rtl:space-x-reverse">
      <svg class="flex-shrink-0 w-3.5 h-3.5 text-green-500 dark:text-sky-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 16 12">
          <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5.917 5.724 10.5 15 1.5"/>
       </svg>
      <span>Free updates: <span class="font-semibold text-gray-900 dark:text-white">6 months</span></span>
  </li>
</ul>





</div>
</div>
