<div
  class="flex items-center justify-between h-16 bg-white border-b border-gray-200"
>
  <h1 class="text-gray-600 pl-4 text-2xl">{{ category?.name }}</h1>

  <button
    (click)="deleteCategory()"
    class="text-slate-800 hover:text-blue-600 text-sm bg-white hover:bg-slate-100 border border-slate-200 rounded-r-lg font-medium px-4 py-2 inline-flex space-x-1 items-center"
  >
    <span>
      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke-width="1.5"
        stroke="currentColor"
        class="w-6 h-6"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M14.74 9l-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 01-2.244 2.077H8.084a2.25 2.25 0 01-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 00-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 013.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 00-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 00-7.5 0"
        />
      </svg>
    </span>
    <span class="hidden md:inline-block">Delete Category</span>
  </button>

  <div class="pt-2 relative mx-auto text-gray-600">
    <input
      class="border-2 border-gray-300 bg-white h-10 px-5 pr-16 rounded-lg text-sm focus:outline-none"
      type="search"
      name="search"
      placeholder="Search todos by title"
      [(ngModel)]="search"
      (ngModelChange)="Search()"
    />
  </div>

  <div class="flex items-center space-x-4 mr-4">
    <button
      (click)="logout()"
      class="bg-slate-300 shadow-sm text-gray-600 border py-2 px-4 rounded-2xl hover:bg-white shadow-md"
    >
      Logout
    </button>
  </div>
</div>

<div class="p-4">
  <div
    class="mx-auto max-w-screen-lg bg-white shadow-lg rounded-lg overflow-hidden"
  >
    <app-todo-form (save)="addTodo($event)"></app-todo-form>

    <div *ngIf="(todos$ | async) as todosData">
      <div *ngIf="todosData && todosData.todos.length === 0">No tasks found</div>
      <div *ngFor="let todo of todosData?.todos; let i = index; trackBy: trackById">
        <app-todo-list
          [todo]="todo"
          (delete)="deleteTodo(todo)"
          (rename)="renameTodo(todo, $event)"
          (toggle)="toggleTodo(todo)"
        ></app-todo-list>
      </div>
      <mat-paginator *ngIf="todosData && todosData.todos.length > 0"
        [length]="todosData.total"
        [pageSize]="todosPerPage"
        (page)="onPageChange($event)"
      ></mat-paginator>
    </div>
</div>
