<form
  class="w-full md:w-1/2 mx-auto px-4 py-2"
  (ngSubmit)="handleFormSubmit()"
  [formGroup]="todoForm"
>
  <div class="flex items-center border-b-2 border-slate-400 py-2">
    <input
      class="appearance-none bg-transparent border-none w-full text-gray-700 text-lg mr-3 py-1 px-2 leading-tight focus:outline-none"
      type="text"
      placeholder="Add a task"
      formControlName="title"
    />
    <button
      class="bg-slate-300 shadow-sm text-gray-600 border py-2 px-4 rounded-2xl hover:bg-white hover:text-sky-500 shadow-md"
      type="submit"
    >
      Add
    </button>
  </div>
</form>
